{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <script src="https://kit.fontawesome.com/6f7fe3d018.js" crossorigin="anonymous"></script>
{#    <script src="{% static 'scripts/app.js' %}" type="module"></script>#}
    <title>Blok BG</title>
</head>
<body>
    {% include 'partials/header-private.html' %}
<div class="container">
        {% block page-content %}
    {% endblock %}
</div>
{% include 'partials/footer.html' %}
{#    {% block script %}#}
{#        <script src="{% static 'scripts/app.js' %}"></script>#}
{#    {% endblock script %}#}
{#<script src="{% static 'scripts/app.js' %}"></script>#}
    <script>
                console.log('test3')
                console.log('test4')
        console.log('test')

        console.log('test2')
        // profile menu
        console.log(document.getElementById('profile-icon'))
        document.getElementById('profile-icon').
            addEventListener('click', () => {
                console.log('from func')
                document.getElementById('profile-choices').style.display = 'block'
            })
                document.getElementById('profile-menu-close').
            addEventListener('click', () => {
                console.log('from func2')
                document.getElementById('profile-choices').style.display = 'none'
            })



    </script>
</body>
</html>