{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <script src="https://kit.fontawesome.com/6f7fe3d018.js" crossorigin="anonymous"></script>
    <title>Blok BG</title>
</head>
<body>
    {% include 'partials/header-private.html' %}
<div class="container">
    {% block page-content %}
    {% endblock %}
</div>
    {% include 'partials/footer.html' %}
    <script>
        // profile menu
        console.log(document.getElementById('profile-icon'))
        document.getElementById('profile-icon').addEventListener('click', () => {
            console.log('from func')
            document.getElementById('profile-choices').style.display = 'block'
        })
        document.getElementById('profile-menu-close').addEventListener('click', () => {
            console.log('from func2')
            document.getElementById('profile-choices').style.display = 'none'
        })

        document.getElementById('header-hamburger-menu').addEventListener('click', () => {
            document.getElementById('icons').style.display = 'flex'
        })

        document.getElementById('users-btn').addEventListener('click', () => {
            document.getElementById('users-list').style.display = 'block'
        })

        document.getElementById('close-icons-menu').addEventListener('click', () => {
            let width = window.matchMedia("(max-width: 1000px)")
            if (width.matches) {
                document.getElementById('icons').style.display = 'none'
            } else {
                document.getElementById('icons').style.display = 'block'
            }
        })
    </script>
</body>
</html>