{% load static %}

<div class="comment">

      <div class="comment-info">

        <div class="user-img">
            <a href="{% url 'profile page' pk=comment.user.pk %}">
                <img src="{{ comment.user.profile_picture.url }}" alt="image of {{ user.username }}" class="profile-pic-comment">
            </a>
        </div>
        <div class="comment-user-and-date">
          <p class="comment-author">{{ comment.user.first_name }} {{ comment.user.last_name }}</p>
          <p class="comment-date">{{ comment.publication_date }}</p>
        </div>
          {% if comment.user == request.user %}
            <div class="actions" style="display:flex; justify-content: flex-end; gap: 1em; margin-left: auto;">
                        <a href="{% url 'edit comment' comment_id=comment.id %}" style="color: #a3a3a3;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{% url 'delete comment' comment_id=comment.id %}" style="color: #a3a3a3;"><i class="fa-solid fa-trash"></i></a>

                    </div>
            {% endif %}
      </div>

      <div class="comment-content">
        <p class="comment-text">{{ comment.text }}</p>
        <p class="replies-count">
            <a href="" class="replies-link" data-bs-toggle="collapse" data-bs-target="#replies" >
              Replies ({{ comment.reply_set.count }})
            </a>
          </p>
        <form
              action="{% url 'reply to comment' post_id=post.id comment_id=comment.pk %}"
              class="reply-form"
              method="post"
            >
                {{ reply_form.text }}
                {% csrf_token %}
              <div class="post-actions">
                <button class="reply-form-btn"
                >
                  Post
                </button>
              </div>
            </form>
        <div class="replies-container collapse" id="replies" >


            {% for reply in comment.reply_set.all %}
            <div class="reply">

                <div class="reply-info">

                    <div class="user-img">
                        <a href="{% url 'profile page' pk=reply.user.pk %}">

                                    <img src="{{ reply.user.profile_picture.url }}" alt="image of {{ user.username }}" class="profile-pic-reply">
                        </a>
                    </div>
                    <div class="reply-user-and-date">
                        <p class="reply-author">{{ reply.user.first_name }} {{ reply.user.last_name }}</p>
                         <p class="reply-date">{{ reply.publication_date }}</p>
                                </div>
                    {% if reply.user == request.user %}
            <div class="actions" style="display:flex; justify-content: flex-end; gap: 1em; margin-left: auto;">
                        <a href="{% url 'edit reply' reply_id=reply.id %}" style="color: #a3a3a3;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{% url 'delete reply' reply_id=reply.id %}" style="color: #a3a3a3;"><i class="fa-solid fa-trash"></i></a>

                    </div>
            {% endif %}
                          </div>

                <div class="reply-content">{{ reply.text }}</div>
                 </div>
            {% endfor %}
        </div>
      </div>
    </div>