{% load static %}

<div class="comment">
      <div class="comment-info">
        <div class="user-img">
          <i class="fa-solid fa-user fa-lg"></i>
        </div>
        <div class="comment-user-and-date">
          <p class="comment-author">{{ comment.user.first_name }} {{ comment.user.last_name }}</p>
          <p class="comment-date">{{ comment.publication_date }}</p>
        </div>
      </div>
      <div class="comment-content">
        <p class="comment-text">{{ comment.text }}</p>
        <div class="replies-container" >
          <p class="replies-count">
            <a href="" class="replies-link" onClick={handleClickReplies}>
              Show replies
            </a>
              <a href="" class="replies-link" onClick={handleClickReplies}>
              Reply
            </a>
          </p>
            <form
              action=""
              class="reply-form"
            >
              <input
                placeholder="Add a reply..."

              />
              <div class="post-actions">
                <button class="reply-form-btn"
                >
                  Post
                </button>
              </div>
            </form>

            <div class="reply">

                <div class="reply-info">

                    <div class="user-img">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="reply-user-and-date">
                        <p class="reply-author">Jane Doe</p>
                         <p class="reply-date">11/11/22 at 14:18pm</p>
                                </div>
                          </div>
                <div class="reply-content">this is a reply to the comment above.</div>
                 </div>
        </div>
      </div>
    </div>