{% load static %}

<footer>
    <div class="about-container">
        <a href="{% url 'about page' %}" class="about-link">About BLOK.BG</a>
        <a href="{% url 't-and-c page' %}" class='t-and-c-link'>Terms and Conditions of Use</a>
        <a href="{% url 'privacy page' %}" class='privary-link'>Privacy Policy and Data Protection</a>
    </div>
    <p class='copyright-p'> &copy;2022 Katerina Mitova. All rights reserved.</p>
    <div class="github-icon-container"><a href="https://github.com/kmitova/blok_bg_dtl" class="github-link" target="_blank">
        <i class="fa-brands fa-github fa-lg"></i>
    </a></div>
</footer>