<header class='header header-private'>
    <div class="left-side">
        <div class='title-logo'><h3>BLOK <span>66</span></h3>
            <i class="fa-regular fa-building fa-lg"></i>
        </div>
        {# TODO: trigger search form on enter with javascript#}
        <form action="" class="search-form">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
        </form>
    </div>
    <div class="right-side">
    {#  TODO: add javascript and display profile submenu/ hide menu on small screens#}
        <i class="fa-solid fa-message fa-lg menu-icon"><a href="/"></a></i>
        <i class="fa-solid fa-bell fa-lg menu-icon"><a href=""></a></i>
        <i class="fa-solid fa-user fa-lg menu-icon"><a href=""></a></i>
    </div>
</header>