

{% load static %}
<header class='header header-private'>
    <div class="left-side">

        <div class='title-logo'><h3>BLOK <span>
            {% if user.is_authenticated %}
            {{ user.building_code }}
            {% else %}
                bg
            {% endif %}
        </span></h3>
            <i class="fa-regular fa-building fa-lg"></i>
        </div>
        {% if user.is_authenticated %}
            <form action="." class="search-form" method="get">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input name="query" type="text" placeholder="Search">
                <button type="submit">Search</button>
            </form>

            </div>
            <div class="right-side">

                <div class="profile-icons">
                    <div class="icons" id="icons">
                        <i class="fa-regular fa-xmark" id="close-icons-menu"></i>
                        <a href="{% url 'inbox' %}"><i class="fa-solid fa-message fa-lg menu-icon"
                                                       id="message-icon"></i></a>
                        <a href="{% url 'notifications' %}"><i class="fa-solid fa-bell fa-lg menu-icon"
                                                               id="bell-icon"></i></a>
                        <i class="fa-solid fa-user fa-lg menu-icon" id="profile-icon"></i>

                    </div>

                    <i class="fa-solid fa-bars fa-lg" id="header-hamburger-menu"></i>
                </div>
                {#        <div class="profile-choices" id="profile-choices">#}
                {#            <ul>#}
                {#                <li><a href="">Profile</a></li>#}
                {#                <li><a href="">Make Announcement</a></li>#}
                {#                <li><a href="">Logout</a></li>#}
                {#            </ul>#}
                {#        </div>#}
            </div>
        {% endif %}
</header>
{% if user.is_authenticated %}
<div class="profile-choices" id="profile-choices">
    <i class="fa-regular fa-xmark" id="profile-menu-close"></i>
            <ul>
                <li><a href="{% url 'profile page' pk=user.pk %}">Profile</a></li>
                <li><a href="{% url 'payment' %}">Payment</a></li>
                {% if user.is_admin %}
                    <li><a href="{% url 'set payment' %}" class="open-modal-btn">Set Fee</a></li>

                <li><a href="{% url 'make announcement' %}">Make Announcement</a></li>
                {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
{% endif %}