{% load static %}
<header class='header header-private'>
    <div class="left-side">
        <div class='title-logo'><h3>BLOK <span>66</span></h3>
            <i class="fa-regular fa-building fa-lg"></i>
        </div>
        {# TODO: trigger search form on enter with javascript#}
        <form action="" class="search-form">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
        </form>
    </div>
    <div class="right-side">

        <div class="profile-icons">
            <div class="icons" id="icons">
                <i class="fa-regular fa-xmark" id="close-icons-menu"></i>
                <a href="{% url 'inbox' %}"><i class="fa-solid fa-message fa-lg menu-icon" id="message-icon"></i></a>
        <a href="{% url 'notifications' %}"><i class="fa-solid fa-bell fa-lg menu-icon" id="bell-icon"></i></a>
        <i class="fa-solid fa-user fa-lg menu-icon" id="profile-icon"></i>

            </div>

            <i class="fa-solid fa-bars fa-lg" id="header-hamburger-menu"></i>
        </div>
{#        <div class="profile-choices" id="profile-choices">#}
{#            <ul>#}
{#                <li><a href="">Profile</a></li>#}
{#                <li><a href="">Make Announcement</a></li>#}
{#                <li><a href="">Logout</a></li>#}
{#            </ul>#}
{#        </div>#}
    </div>
</header>
<div class="profile-choices" id="profile-choices">
    <i class="fa-regular fa-xmark" id="profile-menu-close"></i>
            <ul>
                <li><a href="{% url 'profile page' %}">Profile</a></li>
                <li><a href="{% url 'payment' %}">Payment</a></li>
                <li><button class="open-modal-btn">Make Announcement</button></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>

{#<div class="modal hidden">#}
{#    <div>#}
{#        <button class="close-modal">Close</button>#}
{#          <form action="" class="announcement-form" >#}
{#            <div class="announcement-form-item">#}
{#              <label>Title:</label>#}
{#              <input type="text" />#}
{#            </div>#}
{#            <div class="announcement-form-item">#}
{#              <label>Content</label>#}
{#              <textarea type="text" />#}
{#            </div>#}
{#            <button class="create-announcement-btn">Create</button>#}
{#          </form>#}
{#    </div>#}
{#</div>#}
{#{% block script %}#}
{#    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>#}
{#{% endblock %}#}