{% extends 'partials/base-public.html' %}

{% load static %}

{% block page-content %}
    <div class="form-container">

    <h1 class="accounts-form-title">Sign In</h1>
    <form action="{% url 'login' %}" method="post" class="account-form login-form">
        {% csrf_token %}
    <div class="form-field">
{#            <input type="text" id="username" placeholder="Username" required>#}
            {{ form.username }}
        </div>
    <div class="form-field">
{#            <input type="password" id="password" placeholder="Password" required>#}
        {{ form.password }}
    </div>
        <div class="submit-btn-container">
                <button type="submit" class="accounts-form-btn register-btn">Sign In</button>

        </div>
    </form>
    <div class="link-for-admin-accounts">
        <a href="{% url 'login admin' %}">Sign In for Admins</a>
    </div>
    </div>
{% endblock %}