{% extends 'partials/base.html' %}
{% load custom_filters %}
{% load static %}

{% block page-content %}
    <div class="form-container">

        <h1 class="accounts-form-title">Admin Sign In</h1>
        <form method="post" action="{% url 'login admin' %}" class="account-form login-form">
            {% csrf_token %}
            <div class="form-field">
                {{ form.username.errors }}
                {{ form.username|placeholder:"Username" }}
            </div>
            <div class="form-field">
                {{ form.password.errors }}
                {{ form.password|placeholder:"Password" }}
            </div>
            <div class="submit-btn-container">
                <button type="submit" class="accounts-form-btn register-btn">Sign In</button>
            </div>
        </form>

    </div>
{% endblock %}