{% extends 'partials/base-public.html' %}

{% load static %}

{% block page-content %}
    <div class="form-container">

        <h1 class="accounts-form-title">Admin Sign In</h1>
        <form action="" class="account-form login-form">
            <div class="form-field">
                <input type="text" id="username" placeholder="Username" required>
            </div>
            <div class="form-field">
                <input type="number" id="admin-code" placeholder="Admin code" required>
            </div>
            <div class="form-field">
                <input type="password" id="password" placeholder="Password" required>
            </div>
            <div class="submit-btn-container">
                <button type="submit" class="accounts-form-btn register-btn">Sign In</button>
            </div>
        </form>

    </div>
{% endblock %}