{% extends 'partials/base.html' %}

{% load static %}

{% block page-content %}
    <div class="container">
        <div class="profile-container">
            {#                <img src="{% static 'images/blank-profile-picture.png' %}" alt="profile picture of {{ object.username }}" class="profile-img" />#}
            <img src="/media/{{ object.profile_picture }}" alt="profile picture of {{ object.username }}"
                 class="profile-img"/>

            <div class="names-and-username">
                <h2 class="name">{{ object.first_name }} {{ object.last_name }}</h2>
                <h5>@{{ object.username }}</h5>
            </div>
            <div class="profile-info">
                <h4>Posts: <span class="total-posts">{{ posts_count }}</span></h4>
                <h4>Member since: <span class="member-since">{{ date_joined }}</span></h4>
                <h4>Lives at: blok <span class="blok-number">{{ blok_number }}</span> apartment <span
                        class="apartment-number">{{ object.apartment_number }}</span></h4>

            </div>
            {% if is_owner %}
                <div class="edit-delete-buttons">

                    <a class="edit-btn" role="button" href="{% url 'edit profile' pk=object.pk %}">Edit Profile</a>

                    <a class="delete-btn" role="button" href="{% url 'delete profile' pk=object.pk %}">Delete
                        Profile</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
{% endblock %}