{% extends 'partials/base.html' %}
{% load custom_filters %}
{% load static %}

{% block page-content %}
    <div class="form-container">

    <h1 class="accounts-form-title">Sign Up</h1>
    <form action="{% url 'register' %}" method="post" class="account-form login-form">
        {% csrf_token %}
        <div class="form-field">
            {{ form.first_name.errors }}
            {{ form.first_name|placeholder:"First Name" }}
        </div>
    <div class="form-field">
        {{ form.last_name.errors }}
        {{ form.last_name|placeholder:"Last Name" }}
        </div>
    <div class="form-field">
        {{ form.username.errors }}
        {{ form.username|placeholder:"Username" }}
        </div>
    <div class="form-field">
        {{ form.email.errors }}
        {{ form.email|placeholder:"Email" }}
        </div>
    <div class="form-field">
        {{ form.building_code.errors }}
        {{ form.building_code|placeholder:"Building Code" }}
        </div>
    <div class="form-field">
        {{ form.password1.errors }}
        {{ form.password1|placeholder:"Password" }}
        </div>
    <div class="form-field">
            {{ form.password2.errors }}
        {{ form.password2|placeholder:"Confirm Password" }}
    </div>
        <div class="submit-btn-container">
                <button type="submit" class="accounts-form-btn register-btn">Sign Up</button>

        </div>
    </form>
    <div class="link-for-admin-accounts">
        <a href="{% url 'register admin' %}">Sign Up for Admins</a>
    </div>
    </div>
{% endblock %}