{% extends 'partials/base.html' %}

{% load static %}

{% block page-content %}
    <div class="chat-container">
      <div class="go-back-arrow"><a href="{% url 'inbox' %}" class="go-back-arrow-a"><i class="fa-solid fa-arrow-left"></i>Back</a></div>
        <h2>{{ recipient.first_name }} {{ recipient.last_name }}</h2>

        <div class="chat-messages-container" id="chat-messages">
        <div class="chat-feed">
          <h3 class="chat-title">{{ direct.sender.first_name }} {{ direct.sender.last_name }}</h3>
            {% for direct in directs %}
          <div class="{% if direct.sender.pk == request.user.pk %}chat-message chat-right {% else %} chat-message chat-left {% endif %}">
            <img src="{{ sender.profile_picture.url }}" alt="" class="chat-sender-img"/>
            <div class="chat-message-content-div">
              <p class="chat-message-content">{{ direct.body }}</p>
              <p class="name-of-chat-sender">{{ direct.sender.first_name }} {{ direct.sender.last_name }}</p>
            <p class="time-of-chat-sent">{{ direct.date }}</p>
            </div>

          </div>
            {% endfor %}
{#          <div class="chat-message chat-right">#}
{#            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" alt="" className="chat-sender-img"/>#}
{#            <div class="chat-message-content-div">#}
{#              <p class="chat-message-content">This is a chat message...</p>#}
{#              <p class="name-of-chat-sender">You</p>#}
{#            <p class="time-of-chat-sent">11:23am</p>#}
{##}
{#            </div>#}
{#          </div>#}
{#          <div class="chat-message chat-left">#}
{#            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" alt="" className="chat-sender-img"/>#}
{#            <div class="chat-message-content-div">#}
{#              <p class="chat-message-content">This is a chat message...</p>#}
{#              <p class="name-of-chat-sender">John Doe</p>#}
{#            <p class="time-of-chat-sent">11:23am</p>#}
{##}
{#            </div>#}
{#          </div>#}
        </div>
        <form action="{% url 'send message' %}" class='type-box' method="post">
            {% csrf_token %}
            <input type="hidden" name="to_user" value="{{ active_direct }}">

        <input id="outlined-basic" placeholder="Message" name="body" class="send-message"/>
        <div class="post-actions">
          <button type="submit" class="send-chat-btn">Send</button>
        </div>
      </form>
      </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
{% endblock %}