{% extends 'partials/base-private.html' %}

{% load static %}

{% block page-content %}
    <div class="chat-container">
      <div class="go-back-arrow"><a href="" class="go-back-arrow-a"><i class="fa-solid fa-arrow-left"></i>Back</a></div>
      <div class="chat-messages-container">
        <div class="chat-feed">
          <h3 class="chat-title">John Doe</h3>
          <div class="chat-message chat-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" alt="" className="chat-sender-img"/>
            <div class="chat-message-content-div">
              <p class="chat-message-content">This is a chat message...</p>
              <p class="name-of-chat-sender">John Doe</p>
            <p class="time-of-chat-sent">11:23am</p>

            </div>
          </div>
          <div class="chat-message chat-right">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" alt="" className="chat-sender-img"/>
            <div class="chat-message-content-div">
              <p class="chat-message-content">This is a chat message...</p>
              <p class="name-of-chat-sender">You</p>
            <p class="time-of-chat-sent">11:23am</p>

            </div>
          </div>
          <div class="chat-message chat-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" alt="" className="chat-sender-img"/>
            <div class="chat-message-content-div">
              <p class="chat-message-content">This is a chat message...</p>
              <p class="name-of-chat-sender">John Doe</p>
            <p class="time-of-chat-sent">11:23am</p>

            </div>
          </div>
        </div>
        <form action="" class='type-box'>
        <input id="outlined-basic" placeholder="Message" />
        <div class="post-actions">
          <button class="send-chat-btn">Send</button>
        </div>
      </form>
      </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
{% endblock %}