{% extends 'partials/base.html' %}

{% load static %}

{% block page-content %}

<div class="inbox-container">
      <h1 class="Inbox">Inbox <i class="fa-solid fa-inbox"></i></h1>
      <form class="inbox-search-form">
        <input type="text" class="messages-search" placeholder="Search"/>
        <button class="inbox-search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>

      </form>
      <h2 class="messages-title">Your chats:</h2>
      <ul class="messages-list">
        {% for message in messages %}
        <li class="message-item"><a href="{% url 'chat' username=message.user.username %}">To chat</a>
            <div class="message-img"><img src="{{ message.user.profile_picture.url }}" alt="profile pic of {{ message.user.profile_picture.url }}" width="40" /></div>
            <div class="message-title-and-content">
              <p class="message-sender">{{ message.user.first_name }} {{ message.user.last_name }}</p>
             <small>@{{ message.user.username }}</small>
{#                <p class="message-date">10 min ago</p>#}
{#              <p class=class"message-preview">This a message preview. if its over a char limit, it cuts off...</p>#}
            </div>
        </li>
    {% endfor %}

{#        <li class="message-item"><a href="{% url 'chat' %}">To chat</a>#}
{#            <div class="message-img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" alt="" /></div>#}
{#            <div class="message-title-and-content">#}
{#              <p class="message-sender">Jane Martin</p>#}
{#              <p class="message-date">10 min ago</p>#}
{#              <p class="message-preview">This a message preview. if its over a char limit, it cuts off...</p>#}
{#            </div>#}
{##}
{#        </li>#}
      </ul>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
{% endblock %}