.chat-container {
  height: 100%;
  width: 90vw;
  padding-top: 10em;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f46;
  margin-bottom: 3em;
}

.go-back-arrow-a {
  color: #3f3f46;
  display: flex;
  align-items: center;
  margin-bottom: .5em;
}

.chat-title {
  text-align: center;
    color: #3f3f46;
}

.chat-messages-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0;
  border: 10px solid #d4d4d8;
  border-radius: 10px;
  /* padding: 1em; */
}
.chat-sender-img {
    width: 30px;
      max-width: 30px;
      min-width: 30px;
      margin-bottom: 3em;
}

.chat-feed {
  padding: 1em;
}

.type-box {
  margin-top: auto;
    width: 100%;
    display:flex;
    padding: .5em;
    max-width: 90%;
    position: relative;
}

.send-chat-btn {
    background-color: #0284c7;
    max-width: 50px;
    max-height: 30px;
    min-width: 50px;
    min-height: 30px;
    position: absolute;
    right: 10px;
}

.chat-message {
  display: flex;
  align-items:center;
  gap: .4em;
}

.chat-message {
  width: 100%;
}

.name-of-chat-sender {
  font-size: small;
  margin-bottom: 0;
  padding-bottom: 0;
}

.time-of-chat-sent {
  font-size: smaller;
    margin-top: 0;
      padding-bottom: 0;
}

.chat-message-content {
  font-size: medium;
  border-radius: 15px;
  padding: .7em;
}


.chat-left .chat-message-content{
  background-color: #fef08a;
  float: left;
}

.chat-right .chat-message-content {
  background-color: #7dd3fc;
}

.chat-right {
  float: right;
  flex-direction: row-reverse;
  text-align: right;
  width: 100%;
}

