


.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5em;
}

.upload-btn {
  border-color: #22c55e;
  color: #22c55e;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  form {
    width: 90%;
  }
}