{% extends 'partials/base.html' %}

{% load static %}

{% block page-content %}
    <div class="payment-container">
        <div class="fee-details">
            <h2 class="fee-details-content">
                This month's fee is $<span class="fee-amount">{{ fee_amount }}</span>.
            </h2>
            <h3 class="deadline">
                The deadline for payment is <span class="deadline-date">{{ fee_deadline }}</span>.
            </h3>
        </div>
        <form action="{% url 'payment' %}" method="post" class="payment-form">
            <h2>Pay monthly fee:</h2>
                <div class="form-items">
                    <div class="form-item">
                        <label for="">Card number:</label>
                        {{ form.card_number.errors }}
                        {{ form.card_number }}
                        {#            <input#}
                        {#              type="tel"#}
                        {#              inputmode="numeric"#}
                        {#              pattern="[0-9\s]{13,19}"#}
                        {#              autocomplete="cc-number"#}
                        {#              maxlength="19"#}
                        {#              placeholder="xxxx xxxx xxxx xxxx"#}
                        {#            />#}
                    </div>
                    <div class="form-item">
                        <label for="">CVV:</label>
                        {{ form.card_cvv.errors }}
                        {{ form.card_cvv }}
                        {#            <input type="text" />#}
                    </div>
                    <div class="form-item">

                        <label for="">Card expiration date:</label>
                        {#            <input type="date" />#}
                        {{ form.card_expiry_date.errors }}
                        {{ form.card_expiry_date }}
                    </div>
                    <div class="total-amount-container">
                        <h4 class="total-amount-content">
                            Total: $<span class="total-to-pay">{{ fee_amount }}</span>
                        </h4>
                    </div>
                </div>
                {% csrf_token %}
                <button class="pay-btn" type="submit">Pay now</button>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
{% endblock %}